*/*
*.*
!.gitignore
!README.md
!.vimrc
!.zshrc
!.bashrc

# Ignore everything in .config/ except specific subfolders
!.config/
!.config/ags/
!.config/ags/**
!.config/bat/
!.config/bat/**
!.config/btop/
!.config/btop/**
.config/btop/btop.log
!.config/eza/
!.config/fcitx5/
!.config/fcitx5/**
!.config/eza/**
!.config/fish/
!.config/fish/**
!.config/fontconfig/
!.config/fontconfig/**
!.config/foot/
!.config/foot/**
!.config/fuzzel/
!.config/fuzzel/**
!.config/git/
!.config/git/**
!.config/gtk-**
!.config/hypr/
!.config/hypr/**
!.config/kitty/
!.config/kitty/**
!.config/mpv/
!.config/mpv/**
!.config/nvim/
!.config/nvim/**
!.config/qt5ct/
!.config/qt5ct/**
!.config/swaylock/
!.config/swaylock/**
!.config/wal/
!.config/wal/**
!.config/wlogout/
!.config/wlogout/**
!.config/yadm/
!.config/yadm/**
!.config/zed/
!.config/zed/**
!.config/zshrc.d/
!.config/zshrc.d/**

## Others
!.issues/
!.issues/**
!.zsh/
!.zsh/**
